* {
    font-family: 'DM Serif Text', serif;
   

}

 body { 
  
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: scroll;
    
}


#heading{

    font-size: 50px;
    color: orange;
    margin-right: 700px;
    padding-right: 50px;
    text-shadow: 2px;
}

.col.s12.m3{
display: flexbox;
justify-self: space-evenly;
font-family: 'DM Serif Text', serif;;
color: orange;

}

#stock-list{
overflow: scroll;
height: 80vh;
}

#stock-list :hover{

cursor: pointer;

}

#search-box{
    color: orange;
}


.row.main{
    position: static;
}


.nav-wrapper{
background: rgb(0,0,0);
background: linear-gradient(6deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);

}


.nav-btn a {
    width: auto !important;

    color: black;

    
  
    
}
.waves-effect.waves-light.btn{
    color: orange;
    background: rgb(0,0,0);
background: linear-gradient(173deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);
}


.brand-logo {
    max-height: 100px;
    max-width: 100px;
    
}

.brand-logo img {
    height: 100%;
    width: 100%;
}


footer{
    display: flex;
background: rgb(0,0,0);
background: linear-gradient(6deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);
position: fixed;
bottom: 0;
width: 100%;
justify-content: center;
}
