@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto+Slab:wght@200&display=swap');

body { 
    height: 100vh;
    width: 100vw;
    background-color: black;
    overflow: hidden; 
}

#heading {
    display: inline;
    color: orange;
    margin-left: 100px;
}

@media screen and (max-width: 802px) {
    #heading {
        margin-left: 20px;
        font-size: 25px;
    }
}

#reset-button,
.saved-button,
.chart-container button {
    color: orange !important;
    background: linear-gradient(173deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);
    font-family: 'Roboto Slab', serif;
}

#reset-button a,
.saved-button a {
    line-height: 100%;
}

#reset-button i,
.saved-button i {
    height: 100% !important;
    padding-left: 10px;
    line-height: unset !important;
    font-size: 15px;
}

.stock-search-section {
    font-family: 'DM Serif Text', serif;
    color: orange;
    padding-left: 30px !important;
    padding-top: 100px !important;
    height: 80vh;
}

.chart {
    padding-top: 100px !important;
}

@media screen and (max-width: 768px) {
    .stock-search-section {
        height: 40%;
        padding-top: 10px !important;
    }

    #stock-list {
        height: 80% !important;
    }

    .chart {
        height: 50%;
        padding-top: 10px !important;
    }
}

#stock-list {
    overflow: auto;
    height: 100%;
}

#stock-list li {
    padding: 2px 5px 2px 5px;
    font-family: 'Roboto Slab', serif;
}

#stock-list li:hover {
    cursor: pointer;  
    background-color: #3c3d40;
}
 
#search-box {
    color: orange;
}


.main{
    height: 100%;
}

nav { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
}

.nav-wrapper {
    background: linear-gradient(6deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);
}

.brand-logo {
    height: 100%;
    padding-left: 30px !important;
    position: static !important; 
}

.brand-logo img {
    height: 90%;
    width: 90%;
}


footer {
    background: linear-gradient(6deg, rgba(0,0,0,1) 31%, rgba(115,115,115,1) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    width: 100%;
}

#myChart {
    height: auto !important;
    width: 100% !important;
    height: 100% !important;
}

.chart-container {
    position: relative;
  }
  
  .chart-container button {
    position: absolute;
    top: 0px;
    left: 50px;
  }

  .reset-button {
    display: none !important;
  }

  #chart-title {
    color: white;
  }